
.sidebar__header
{
    padding: 0 24px;
    display: -ms-flexbox;
    display: flex;
    height: 64px;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    -ms-flex-align: center;
    align-items: center;
}

.sidebar-calculator {
    width: 340px;
    font-size: 14px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    outline: none;
}

.sidebar-caption 
{
    font-family: Formular, sans-serif;
    font-size: 24px;
    font-weight: 500;
}

.calcultator-content
{
    flex-grow: 1;
    overflow: auto;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
}